html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #76a09d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
}

button:hover {
  opacity: 0.6;
}

.container {
  width: 80%;
  margin: auto;
}

.default {
  background-color: #d7d7d7;
}

.submit {
  background-color: #ecbf4c;
  color: white;
}

#calculator-board {
  background-color: white;
  border-radius: 5px;
  width: 20vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display {
  height: 20%;
  font-size: 20px;
  text-align: right;
}

#display span {
  height: 2em;
  font-size: 2em;
}

#numpad {
  height: 80%;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "s1 s5 s4 s3"
    "s8 s9 s10 s2"
    "s11 s12 s13 s2"
    "s14 s15 s16 s6"
    "s17 s17 s7 s6"; /* we can't just use numbers for the labels apparently, pain */
}
